# IDEs
# -------------------------------------------------------------------- #
.idea/
.vs/
.vscode/

# Libraries
# -------------------------------------------------------------------- #
.exp/
.expo/
.next/
bower_components/
node_modules/

# Build
# -------------------------------------------------------------------- #
build/
review/

# Files
# -------------------------------------------------------------------- #
.env
package-lock.json
